*{
    margin: 0;
    padding: 0;
}
section.tempra {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: #ff9e9e;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1200px;
    height: 50%;
    width: 50%;
    background-color: white;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
}
.main {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 2rem;
    padding: 2%;
}
.input-block {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    gap: 10px;
}
input.temp{
    height: 45px;
    padding: 0 20px;
}